PORT=3000
FRONTEND_URL=https://your-frontend.vercel.app

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/smartplant?retryWrites=true&w=majority

MQTT_URL=mqtts://YOUR_CLUSTER.s1.eu.hivemq.cloud:8883
MQTT_USER=YOUR_MQTT_USERNAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD
MQTT_BASE_TOPIC=smartplant
DEFAULT_DEVICE_ID=plant-01

SOIL_THRESHOLD=30
DEFAULT_SLEEP_SEC=3600
DEFAULT_AUTO_WATER_SECONDS=4
DEFAULT_MANUAL_WATER_SECONDS=5

OPENWEATHER_API_KEY=YOUR_OWM_KEY
WEATHER_CITY=Modena,IT
WEATHER_LAT=
WEATHER_LON=
RAIN_POP_THRESHOLD=0.6
RAIN_MM_THRESHOLD=0.2
RAIN_LOOKAHEAD_HOURS=12
WEATHER_CACHE_MINUTES=30
